.loginmodal {
  display: none;
  position: fixed;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.modal-content {
  border: 2px solid brown;
}
.modalClose {
  float: right;
  font-size: 25px;
}
.modalClose:hover,
.modalClose:focus {
  color: black;
  cursor: pointer;
}
.field {
  border-color: beige;
  dfdfsdfasdfasdf안녕하세요 
}
